<P><strong>Please do not respond to this email as the email address is not monitored.</strong></P>

<p>Reset passeprd for <strong>{{ name }}</strong>.</p>

<p>Please login into the <a href="{{ url }}" target="_top">{% if companyDetails %}{{ companyDetails.coName }} {% endif %} web site</a> using the temporary password of <strong>{{ password }}</strong></p>

<p>When you login in you will be asked to change your password before you can use the site.</p>

<p>If you have any queries please do not hesitate to contact us.</p>

<p>Kind Regards</p>
<br/>
